<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non reiciendis harum vel, necessitatibus et, tempora aspernatur saepe error doloribus architecto consequuntur dicta impedit exercitationem sunt eaque voluptas obcaecati dignissimos nesciunt. Culpa dolor eum doloribus optio fugiat cum magnam architecto expedita sit, dolore, officia vel non laboriosam recusandae cupiditate voluptatibus. Aspernatur.</p> -->
</body>
</html>

@media only screen and (min-width: 600px) {
    nav.my-nav.navbar.navbar-expand-lg.navbar-light {margin: 0;}
    }
    
    @media only screen and (min-width: 600px) {
    nav.my-nav.navbar.navbar-expand-lg.navbar-light {margin: 0;}
    }
    .my-nav {
        background-color: rgb(233, 238, 213);
        padding: 8px 0;
        margin-left: 40px;
    }
    @media (min-width: 992px) {
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
        }
    }
    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .5rem 1rem;
    }
    @media (min-width: 992px) {
    .navbar-expand-lg {-ms-flex-flow: row nowrap;flex-flow: row nowrap;-ms-flex-pack: start;justify-content: flex-start;}
    }
    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .5rem 1rem;
    }