<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Muffins</title>
</head>
<body>

<% @muffins.each do |item| %>
    <div class="image">
    <img src="<%=item.picture%>">
    <h5><%=item.name%></h5>
    <p class="content-description"><%=item.price%></p>
    <p class="content-description"><%=item.description%></p>
<% end %></p>


</body>
</html>