
body {
    background-color: rgb(233, 238, 213);
}
h1 {
    background-color: green;
    text-align: center;
    padding: 50px 0 0 0;
}
.container-fluid {
    padding: 0;
}
.card img {
    width: 352px;
    height: 352px;
}
.card {
    float: left;
    margin-right: 47px;
    word-wrap: normal !important;
    width: 352px;
    height: 450px;
    margin-bottom: 20px;
}
.card:nth-of-type(3) {
    margin-right: 0px;
}
.card:nth-of-type(6) {
    margin-right: 0px;
}
p {
    font-size: 15px;
}
.products {
    width: 1024px;
    margin: 0 auto;
}
.my-nav {
    background-color: rgb(233, 238, 213);
    padding: 8px 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
}