html, body {
    height: 100%;
    margin: 0;
}
body {
    background-color: rgb(233, 238, 213);
}
h1 {
    background-color: green;
    text-align: center;
    padding: 50px 0 8px 0;
    color:  rgb(233, 238, 213);
}
h4 {
    background-color: green;
    text-align: center;
    padding: 8px 0 8px 0;
    color:  rgb(233, 238, 213);
}
.container-fluid {
    padding: 0;
}
.card img {
    width: 352px;
    height: 352px;
}
.card {
    float: left;
    margin-right: 23px;
    word-wrap: normal !important;
    width: 354px;
    height: 450px;
    margin-bottom: 20px;
}
.card:nth-of-type(3) {
    margin-right: 0px;
}
.card:nth-of-type(6) {
    margin-right: 0px;
}
p {
    font-size: 15px;
}
.products {
    width: 1024px;
    margin: 0 auto;
}
.my-nav {
    background-color: rgb(233, 238, 213);
    padding: 8px 0;
    margin-left: 40px;
}
a {
    font-weight:bolder;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
}
footer {
    background-color: green;
    margin: 0px 0 0px 0;
    padding: 1rem 2rem;
    border-top: dotted 1px green;
    height: 150px;
    color: rgb(233, 238, 213);
    clear: both;
}
.push {
    height: 150px;
}
#card-mor {
    border: 0;
}
#card-more {
    padding: 0rem 0 1.25rem 0;
    background-color: rgb(233, 238, 213);
}
ul {
    margin: -10px -40px;
}
ul ol {
    display: inline;
    padding:0;
    margin:0;
}   

.social {
    padding: 0;
    width: 40px;
    height: 40px;
}
#emailTable {
    border-spacing: 1em .5em;
    padding: 0 2em 1em 0;
}